@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans';
}
body{
    background: url(/video/bg1.mp4) no-repeat;
	background-size: cover;
	height: 100vh;
}

nav{
	display: flex;
    justify-content: space-between;
    align-items: center;
	margin: 0;
    height: 100%;
	background-color: #333;
	font-size: 20px;
}
.menu-horizontal{
	list-style: none;
	display: flex;
	justify-content: space-around;
}
.menu-horizontal > li > a{
	display: block;
	padding: 15px 20px;
	color: white;
	text-decoration: none;
}
.menu-horizontal > li:hover{
	background-color: red;
}
.menu-vertical{
	position: absolute;
	display: none;
	list-style: none;
	width: 200px;
	background-color: rgba(0, 0, 0, .5);
}
.menu-horizontal li:hover .menu-vertical{
	display: block;
}
.menu-vertical li:hover{
	background-color: black;
}

.menu-vertical li a{
	display: block;
	color: white;
	text-decoration: none;
	padding: 15px 15px 15px 20px;
}

.img__navbar{
    max-width: 70px;
    margin-right: 20px;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    margin: 0;
}

.tip {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
    display: block;
    margin: auto;
    max-width: 100px;
    height: auto;
    margin-bottom: 15px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}