body {
    background: #fff url(backg.jpg);
    font-family: Times New Roman, verdana, arial, Trebuchet MS;
    font-size: 80%;
    color: #b0b0b0;
}

/* Container */
.site-box {
    width: 780px;
    margin: 0 auto 15px auto;
    margin-top: 10px;
    background: #f4f4f4;
    color: #000;
    border: 1px solid #c0c0c0;
}

/* Header */
.header {
    background: #f4f4f4 url(headgradient.png) repeat-x;
    width: 750px;
    height: 60px;
}

.header__title {
    margin-top: auto;
    float: left;
    margin-left: 10px;
    color: #96B766;
    text-transform: lowercase;
    font-weight: 100;
    font-family: Times New Roman, Trebuchet MS, arial;
    font-size: 4em;
}

.header__subtitle {
    float: right;
    color: #d0d0d0;
    font-size: 0.93em;
    margin-top: 15px;
    margin-right: 30px;
    text-transform: lowercase;
    font-family: Times New Roman, verdana, arial;
}

.header__subtitle-text:hover {
    color: #000;
    background: #f4f4f4;
}

/* Navigation */
.navigation {
    clear: both;
    margin-top: 8px;
    background: #f4f4f4;
}

.navigation a {
    margin-left: 30px;
    text-transform: lowercase;
    color: #a0a0a0;
    font-size: 1.1em;
    text-decoration: none;
    letter-spacing: 0.1em;
}

.navigation a:hover {
    color: #F26F29;
}

/* Left Side Content */
.left-content {
    margin-top: 10px;
    padding: 5px;
    padding-right: 15px;
    line-height: 17px;
    width: 400px;
    float: left;
    background: #f4f4f4 url(dots.png) repeat-y right;
    color: #b0b0b0;
}

.left-content__title {
    margin: 5px;
    margin-left: 15px;
    color: #134B6E;
    width: 300px;
    text-transform: uppercase;
    font-family: Times New Roman, Verdana, arial;
    font-size: 19px;
    background: #f4f4f4 url(h1bg.png) repeat-x bottom;
}

.left-content__paragraph {
    color: #a0a0a0;
    font-family: verdana;
    margin-top: 5px;
    font-size: 0.9em;
    line-spacing: 0.3em;
    margin-left: 10px;
}

/* Right Content */
.right-content {
    margin-top: 10px;
    margin-right: 10px;
    width: 350px;
    float: right;
    line-height: 17px;
    margin-left: 0px;
    text-align: left;
    background: #f4f4f4;
}

.right-content__title {
    color: #F26F29;
    width: 250px;
    text-transform: uppercase;
    font-family: Verdana, arial;
    font-size: 1.2em;
    background: #f4f4f4 url(h1bg.png) repeat-x bottom;
}

.right-content__paragraph {
    width: 320px;
    color: #a0a0a0;
    font-family: verdana;
    margin-top: 5px;
    font-size: 0.9em;
    margin-left: 0px;
}

/* Footer */
.footer {
    clear: both;
    margin-top: 20px;
    width: 100%;
    font-size: 0.7em;
    background: #f4f4f4 url(h1bg.png) repeat-x bottom;
    height: 20px;
    color: #b0b0b0;
    text-align: center;
}
